- if attr_val
  = f.text_field(attr_sym, placeholder: t("credit_card.#{attr_sym}"), 
    value: attr_val, class: 'form form-control')
- else
  = f.text_field(attr_sym, placeholder: t("credit_card.#{attr_sym}"), 
  class: 'form form-control')