- price = checkout_form.model.calc_shipping_price(method)
.radio
  %label
    = model.radio_button :shipping_method, method, 
      checked: shipping_method_checked?(method, current_method)
    = "#{method} +#{PriceDecorator.decorate(price).price}"