<!DOCTYPE html>
<html>
<head>
  <title>Chickout</title>
  <%= stylesheet_link_tag    "chickout/application", media: "all" %>
  <%= javascript_include_tag "chickout/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
